.syarat-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.75rem;
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
    text-align: center;
    white-space: nowrap;
    border-radius: 0 0.25rem 0 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    z-index: 1;
}
.bg-success {
  background-color: rgb(7, 185, 102) !important
}
.bg-secondary {
  background-color: rgb(207, 207, 207) !important
}
.btn-info{
  color: #fff !important;
}
a{
  text-decoration: none !important;
}

body{
  background: linear-gradient(to bottom, #748cab 0%,#FFFFFF 100%);
  min-height: 100vh;
  margin: 0;
}


h2, h3, h4 {
  color: #1d2d44 !important;
}

.accordion-button {
  color:#0c63e4
}

.btn-primary{
  background-color: #3e5c76 !important;
}

.accordion-button {
    color:  #748cab !important;
    background-color: #eee !important;
}
.accordion-button:not(.collapsed) {
    color:  #748cab !important;
    background-color: #f0ebd8 !important;
}
input[readonly].form-control {
  background-color: #efefef; /* or any other color you prefer */
}
.navbar{
  background-color: #1d2d44 !important;
}

.card-header{
  background-color: #f0ebd8 !important;
}